Source: test-a
Section: test
Priority: extra
Maintainer: User <user@localhost.localdomain>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: test-a
Architecture: all
Depends: ${misc:Depends}, test-b, test-c, test-d
Description: Test package. Please remove me.
 This package is only a test package. You should remove it after its
 usage.
