Source: test-c
Section: test
Priority: extra
Maintainer: User <user@localhost.localdomain>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: test-c
Architecture: all
Depends: ${misc:Depends}
Description: Test package. Please remove me.
 This package is only a test package. You should remove it after its
 usage.
